<div class="container-fluid" style="background-color:#4ca6ff;">
  <dl class="row" ng-hide="toggleSearch" style="margin-bottom: 0px;">
  <dt class="col-xs-8"><h3 class="display-4">School Year Settings</h3></dt>
  <dd class="col-xs-4"><h3 class="display-4" style="text-align:right;">
    <button type="button" ng-click="toggleSearch = !toggleSearch" class="btn btn-sm btn-default"><i class="fa fa-search"></i></button> 
    <button type="button" class="btn btn-sm btn-default" ng-click="openSetting('addSetting.html','lg')"><i class="fa fa-plus"></i></button></h3>
</dd>
  </dl>

<dl class="row" ng-show="toggleSearch" style="margin-bottom: 13px;">
<h3 class="display-4">
  <dd class="col-sm-8 col-sm-offset-2">
   <div class="input-group input-group-sm">
        <input type="text" class="form-control" ng-model="search" placeholder="Search notices">
        <span class="input-group-btn">
        <button class="btn btn-default" ng-click="toggleSearch = !toggleSearch" type="button"><i class="fa fa-times"></i></button>
      </span>
      </div>
</dd></h3>
  </dl>
</div>

<div class="container-fluid" style="padding-top:2%;">
<div class="alert alert-warning">
  <strong>Warning!</strong> Changes these settings will impact the function of the entire application. Please review changes carefully before saving.
</div>

<ul class="list-group" ng-repeat="set in settings | filter:search ">
  <li class="list-group-item">
    <div class="row">

      <div class="col-xs-10">
        <span class="badge">
          {{ (set.startDate | date) || 'None' }}   to   {{ (set.endDate | date) || 'None' }}
        </span>
        <span>
         <strong> <a ui-sref="dashboard.settingDetail({settingId:set._id})">School Year: {{ set.schoolYear || 'None' }}</a></strong>
        </span>
        <br>
        <span>
         Registration Fee: {{ set.regFee || 'None' }}Rwf
        </span>

      </div>
    </div>
  </li>
</ul>
  
</div>


<script type="text/ng-template" id="addSetting.html">
  <div class="modal-header">
    <h3 class="modal-title" id="modal-title">Add School Year Settings</h3>

  </div>
  <div class="modal-body" id="modal-body">
    <form name="form">

      <div class="form-group">
        <label for="videoTitle">School Year Name</label>
        <input class="form-control" ng-model="setting.schoolYear" id="courseTitle">
        </div>
        
      <div class="form-group">
        <label for="videoDescription">Registration Fee</label>
        <input class="form-control" ng-model="setting.regFee" id="courseDescription">
      </div>

         <div class="row">
          <div class="col-md-12"><h3>School Year</h3></div>
      <div class="col-md-6">
         <label for="videoDescription">Start Date</label>
        <span class="input-group">
        
          <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="setting.startDate" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </span>
      </div>
       <div class="col-md-6">
           <label for="videoDescription">End Date</label>
        <span class="input-group">
         
          <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="setting.endDate" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </span>
      </div>
      

       
          <div class="col-md-12"><h3>Registration</h3></div>
      <div class="col-md-6">
         <label for="videoDescription">Registration Start</label>
        <span class="input-group">
        
          <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="setting.regStart" is-open="popup3.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open3()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </span>
      </div>
       <div class="col-md-6">
           <label for="videoDescription">Registration End</label>
        <span class="input-group">
         
          <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="setting.regEnd" is-open="popup4.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open4()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </span>
      </div>
    


 
          <div class="col-md-12"><h3>Semester</h3></div>
      <div class="col-md-6">
         <label for="videoDescription">Start Date</label>
        <span class="input-group">
        
          <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="setting.semesterStart" is-open="popup5.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open5()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </span>
      </div>
       <div class="col-md-6">
           <label for="videoDescription">End Date</label>
        <span class="input-group">
         
          <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="setting.semesterEnd" is-open="popup6.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open6()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </span>
      </div>
      



  </div>
  <div class="modal-footer">
    <button type="submit" ng-click="submit(setting)" class="btn btn-sm btn-primary">Save Settings</button>
    <button class="btn btn-sm btn-info" type="button" ng-click="close()">Cancel</button>

  </div>
  </form>

</script>




    

