<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.carl.tutorlink"
        version   = "2.0.0">
    <name>TutorLink</name>

    <description>
        Scans barcodes.
    </description>

    <author href="http://adoptitude.com" email="carl.lawrence@adoptitude.com">
Carl Lawrence    </author>


    <plugin name="phonegap-plugin-barcodescanner"/>
         <plugin name="cordova-plugin-camera" />
    <plugin name="cordova-plugin-media-capture" />
    <plugin name="cordova-plugin-file"  />
    <plugin name="cordova-plugin-file-transfer"  />
    <plugin name="cordova-plugin-media" />
    <plugin name="cordova-plugin-network-information"  />
    <plugin name="cordova-plugin-inappbrowser"/>
    <plugin name="cordova-plugin-splashscreen"  />
    <plugin name="cordova-plugin-whitelist" />
        <plugin name="phonegap-plugin-barcodescanner" spec="https://github.com/phonegap/phonegap-plugin-barcodescanner.git">
        <variable name="CAMERA_USAGE_DESCRIPTION" value=" " />
    </plugin>

    <preference name="phonegap-version" value="cli-8.0.0" />
    <preference name="orientation"      value="default" />
    <preference name="target-device"    value="universal" />
    <preference name="fullscreen"       value="false" />
    <preference name="webviewbounce"    value="false" />

    <icon src="icon.png" />
    <icon src="res/icon/android/drawable-ldpi-icon.png"   gap:platform="android"    gap:density="ldpi" />
    <icon src="res/icon/android/drawable-mdpi-icon.png"   gap:platform="android"    gap:density="mdpi" />
    <icon src="res/icon/android/drawable-hdpi-icon.png"   gap:platform="android"    gap:density="hdpi" />
    <icon src="res/icon/android/drawable-xhdpi-icon.png"  gap:platform="android"    gap:density="xhdpi" />
     
<platform name="android">
    <splash src="res/screen/android/drawable-port-ldpi-screen.png"  platform="android" density="ldpi" />
    <splash src="res/screen/android/drawable-port-mdpi-screen.png"  platform="android" density="mdpi" />
    <splash src="res/screen/android/drawable-port-hdpi-screen.png"  platform="android" density="hdpi" />
    <splash src="res/screen/android/drawable-port-xhdpi-screen.png" platform="android" density="xhdpi" />
   </platform>

     <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />

</widget>
