

<div class="container-fluid" style="background-color:#4ca6ff;">
  <dl class="row" style="margin-bottom: 0px;">
  <dt class="col-xs-2"><h3 class="display-4"><a ui-sref="dashboard.grades"> &larr;</a></h3></dt>
  <dd class="col-xs-10"><h3 class="display-4" style="text-align:right;"> {{currentAssignment.assignmentName}} 
   <button type="button" ng-click="toggleSearch = !toggleSearch" class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
  <button type="button" class="btn btn-sm btn-default" ng-click=""><i class="fa fa-plus"></i></button>
   <button type="button" class="btn btn-sm btn-default" ng-click="populate(currentAssignment)"><i class="fa fa-arrow-down"></i></button>
    <button type="button" class="btn btn-sm btn-default" ng-click="open('delGrade.html','sm', grade._id, grade.title)"><i class="fa fa-trash"></i></button></h3>
</dd>

  </dl>

</div>

<script type="text/ng-template" id="delGrade.html">
  <div class="modal-header">
    <h3 class="modal-title" id="modal-title">Alert!</h3>
  </div>
  <div class="modal-body" id="modal-body">
    <h5> Are you sure you want to delete <strong> {{gradeTitle}}</strong>?</h5>


  </div>
  <div class="modal-footer">
    <button class="btn btn-sm btn-danger" type="button" ng-click="removeGrade()">Confirm Delete</button>
    <button class="btn btn-sm btn-info" type="button" ng-click="close()">Cancel</button>

  </div>
</script>

 
  <div class="table-responsive">          
   <table class="table table-bordered table-hover table-condensed">
    <tr style="font-weight: bold">
      <td style="width:40%">Firstname</td>
      <td style="width:40%">Lastname</td>
      <td style="width:10%">Grade</td>
      <td style="width:10%">Edit</td>
    </tr>
    <tr ng-repeat="grade in grades">
      <td>
        <!-- editable username (text with validation) -->
        <span>
          {{grade.studentFirstname}}
        </span>
      </td>
      <td>
        <!-- editable status (select-local) -->
        <span >
          {{ grade.studentLastname}}
        </span>
      </td>
      <td>
        <!-- editable group (select-remote) -->
        <span editable-text="grade.grade" e-name="grade" e-form="rowform">
          {{ grade.grade }}
        </span>
      </td>
      <td style="white-space: nowrap">
        <!-- form -->
        <form editable-form name="rowform" onbeforesave="saveGrade(grade)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == grade">
          <button type="submit" class="btn btn-sm btn-default" ng-disabled="rowform.$waiting" class="btn btn-primary">
            <i class="fa fa-check"></i>
          </button>
          <button type="button" class="btn btn-sm btn-default" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
            <i class="fa fa-ban"></i>
          </button>
        </form>
        <div class="buttons" ng-show="!rowform.$visible">
          <button type="button" class="btn btn-sm btn-primary" ng-click="rowform.$show()"><i class="fa fa-pencil"></i></button>
         
        </div>  
      </td>
    </tr>
  </table>
  </div>

  <script type="text/ng-template" id="delGrade.html">
  <div class="modal-header">
    <h3 class="modal-title" id="modal-title">Alert!</h3>
  </div>
  <div class="modal-body" id="modal-body">
    <h5> Are you sure you want to delete <strong> {{gradeTitle}}</strong>?</h5>


  </div>
  <div class="modal-footer">
    <button class="btn btn-sm btn-danger" type="button" ng-click="removeGrade()">Confirm Delete</button>
    <button class="btn btn-sm btn-info" type="button" ng-click="close()">Cancel</button>

  </div>
</script>



    