
<div class="container-fluid" style="background-color:#4ca6ff;">
  <dl class="row" ng-hide="toggleSearch" style="margin-bottom: 0px;">
  <dt class="col-xs-8"><h3 class="display-4">System Notices</h3></dt>
  <dd class="col-xs-4"><h3 class="display-4" style="text-align:right;">
    <button type="button" ng-click="toggleSearch = !toggleSearch" class="btn btn-sm btn-default"><i class="fa fa-search"></i></button></h3>
</dd>
  </dl>

<dl class="row" ng-show="toggleSearch" style="margin-bottom: 13px;">
<h3 class="display-4">
  <dd class="col-sm-8 col-sm-offset-2">
   <div class="input-group input-group-sm">
        <input type="text" class="form-control" ng-model="search" placeholder="Search notices">
        <span class="input-group-btn">
        <button class="btn btn-default" ng-click="toggleSearch = !toggleSearch" type="button"><i class="fa fa-times"></i></button>
      </span>
      </div>
</dd></h3>
  </dl>
</div>

<ul class="list-group" ng-repeat="(id, notice) in notices | filter:search ">
  <li class="list-group-item">
    <div class="row">

      <div class="col-xs-10">
        <span class="badge">
          {{ (notice.createdAt | date) || 'None' }}
        </span>
        <span editable-text="notice.message" e-name="message" e-form="rowform">
         <strong> {{ notice.title || 'None' }}</strong>
        </span>
        <br>
        <span editable-text="notice.title" e-name="title" e-form="rowform">
          {{ notice.message || 'None' }}
        </span>

      </div>
    </div>
  </li>
</ul>




