<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="login-panel panel panel-primary">
                <div class="panel-heading">
                    <h1 class="panel-title">STARS<sup>®</sup> REGISTRATION</h1>
                </div>
                <div class="panel-body">
<div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
<div class="row">

  <div class="col-md-6">
    <div>
 <form name="profilePicForm" ng-submit="uploadPic(picFile)" novalidate>
    <fieldset>
      <legend>Create an Account</legend>
           <br>Profile Picture:
           <label class="btn btn-default">Attach File
      <input type="file" ngf-select ng-model="picFile" name="file"    
             accept="image/*" ngf-max-size="2MB" required
             ngf-model-invalid="errorFile" style="display: none;">
           </label>
      <i ng-show="profilePicForm.file.$error.required">*required</i><br>
      <i ng-show="profilePicForm.file.$error.maxSize">File too large 
          {{errorFile.size / 1000000|number:1}}MB: max 2M</i>
      <img ng-show="profilePicForm.file.$valid" ngf-thumbnail="picFile" class="thumb"> 
      <br>
    
      <button class="btn btn-primary" type="submit" ng-disabled="profilePicForm.$invalid">Upload Profile Picture</button>
       <progressbar ng-show="picFile.progress >= 0" animate="false" value="picFile.progress" type="success"><b>{{picFile.progress}}%</b></progressbar>
     
      <span ng-show="picFile.result">Upload Successful</span>
      <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
    </fieldset>
    <br>
  </form>
</div>

  </div>
  <div class="col-md-6">
<div>

   <form name="registerForm" ng-submit="register()" novalidate>
                        <fieldset>
                            
                         <div class="form-group">
                                <input class="form-control" placeholder="E-mail" name="username" ng-model="username" type="email" required>
					<span style="color:red" ng-show="registerForm.username.$dirty && registerForm.username.$invalid">
					<span ng-show="registerForm.username.$error.required">Email is required.</span>
					<span ng-show="registerForm.username.$error.email">Invalid email address.</span>
                            </div>

                             <div class="form-group">
                                <input class="form-control" placeholder="First Name" name="firstname" ng-model="firstname" type="text" required>
					<span style="color:red" ng-show="registerForm.firstname.$dirty && registerForm.firstname.$invalid">
					<span ng-show="registerForm.username.$error.required">First name is required.</span>
                            </div>

                            <div class="form-group">
                                <input class="form-control" placeholder="Last Name" name="lastname" ng-model="lastname" type="text" required>
					<span style="color:red" ng-show="registerForm.lastname.$dirty && registerForm.lastname.$invalid">
					<span ng-show="registerForm.username.$error.required">Last name is required.</span>
                            </div>

                            <div class="form-group">
                                <input class="form-control" placeholder="Password" ng-model="password" name="password" type="password" required 
				maxlength="15" minlength="8"  ng-pattern="/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$/" >
					 <div style="color:red" ng-messages="registerForm.password.$dirty && registerForm.password.$error" role="alert">
					    <div ng-message="required">Please enter a password.</div>
					    <div ng-message="maxlength">Password cannot be more than 15 characters long.</div>
					    <div ng-message="minlength">Password cannot be less than 8 characters long.</div>
					    <div ng-message="pattern">Password must contain UPPERCASE and lowercase characters and numbers</div>
					  </div>

                            </div>

                                                                       
                            <button type="submit" class="btn btn-lg btn-success btn-block" ng-disabled="registerForm.$invalid">Create Account</button>
                        </fieldset>
                    </form>
</div>


  </div>

</div>

</div>
            </div>
        </div></div>



  
  



