<div class="container-fuid">
  <div class="application-panel col-md-12">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h1 class="panel-title">STARS<sup>®</sup> Student Application Wizard <span><a ui-sref="logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a></span></h1>
      </div>
      <div class="panel-body">
        <div style="padding: 30px">
          <div class="media">
            <a class="media-left" href="#">
              <img class="media-object" src="img/logo.jpg" alt="IPRC logo" width="75px">
            </a>
            <div class="media-body">
              <h4 class="media-heading">Welcome {{currentUser.firstname}} {{currentUser.lastname}} to IPRC East</h4>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum
              in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue
              felis in faucibus.
            </div>
          </div>
        </div>
        <uib-tabset justified="true" active="active">
          <uib-tab index="0">
            <uib-tab-heading><i class="fa fa-id-card-o"></i> Personal </uib-tab-heading>

            <h1 class="display-3 text-center">Student Application Form<small><br>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum
              in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue
              felis in faucibus.</small></h1>

            <div class="panel">
              <dl class="dl-horizontal">
                <dt>
                  <h3 class="display-3">Telephone:</h3>
                </dt>
                <dd>
                  <h3 class="display-3">
                    <div class="popover-wrapper"><a href="" editable-number="personalInfo.tel">{{ personalInfo.tel || 'incomplete' }}</a> <span class="fa fa-check green"
                        ng-show="personalInfo.tel"></span></div>
                  </h3>
                </dd>
                <dt>Other Names:</dt>
                <dd class="list-group-item"> <a href="" class="editable-click" editable-text="personalInfo.other">{{ personalInfo.other || 'incomplete' }}</a></dd>
                <dt>Marital Status:</dt>
                <dd class="list-group-item"> <a href="" editable-radiolist="personalInfo.maritalStatus" e-ng-options="s.value as s.text for s in ::mStatus track by s.value">
    {{ showStatus() }}
  </a></dd>
              </dl>
            </div>

            </li>


            <h3 class="display-3">Place of Birth: <a href="" class="editable-click" editable-text="personalInfo.POB" e-required>{{ personalInfo.POB || 'incomplete' }}</a></h3>
            <div class="input-group">Date of Birth: <a href="#" editable-bsdate="personalInfo.DOB" e-is-open="opened.$data" e-ng-click="open($event,'$data')"
                e-datepicker-popup="dd-MMMM-yyyy">
    {{ (personalInfo.DOB | date:"dd/MM/yyyy") || 'incomplete' }}
  </a></div>

            <li class="list-group-item">
              <div class="row">
                <div class="col-xs-4">Gender: <a href="#" editable-select="personalInfo.gender" e-ng-options="s.value as s.text for s in gender">
    {{ showGender() }}</a></div>
                <div class="col-xs-4">Nationality: <a href="#" editable-text="personalInfo.nationality" e-uib-typeahead="country.name for country in countries | filter:$viewValue | limitTo:8">
    {{ personalInfo.nationality || 'None Selected' }} <i class="fa fa-edit"></i>
  </a></div>
                <div class="col-xs-4">Issued at: <a href="" class="editable-click" editable-text="personalInfo.issued">{{ personalInfo.issued || 'incomplete' }}</a>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-md-4">Father's Name: <a href="" class="editable-click" editable-text="personalInfo.father.name">{{ personalInfo.father.name || 'incomplete' }}</a></div>
                <div class="col-xs-4">Mother's Name: <a href="" class="editable-click" editable-text="personalInfo.mother.name">{{ personalInfo.mother.name || 'incomplete' }}</a></div>
                <div class="col-xs-4">Guardian's' Name: <a href="" class="editable-click" editable-text="personalInfo.guardian.name">{{ personalInfo.guardian.name || 'incomplete' }}</a></div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-xs-4">Father's number: <a href="" class="editable-click" editable-number="personalInfo.father.number">{{ personalInfo.father.number || 'incomplete' }}</a></div>
                <div class="col-xs-4">Mother's number: <a href="" class="editable-click" editable-number="personalInfo.mother.number">{{ personalInfo.mother.number || 'incomplete' }}</a></div>
                <div class="col-xs-4">Guardian's' number: <a href="" class="editable-click" editable-text="personalInfo.guardian.name">{{ personalInfo.guardian.name || 'incomplete' }}</a></div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-xs-4">Father's ID/PASSPORT #: <a href="" class="editable-click" editable-number="personalInfo.father.id">{{ personalInfo.father.id || 'incomplete' }}</a></div>
                <div class="col-xs-4">Mother's ID/PASSPORT #: <a href="" class="editable-click" editable-number="personalInfo.mother.id">{{ personalInfo.mother.id || 'incomplete' }}</a></div>
                <div class="col-xs-4">Guardian's' ID/PASSPORT #: <a href="" class="editable-click" editable-text="personalInfo.guardian.id">{{ personalInfo.guardian.id || 'incomplete' }}</a></div>
              </div>
            </li>

            </ul>




          </uib-tab>
          <uib-tab index="1">
            <uib-tab-heading><i class="fa fa-list-ol "></i> Interest </uib-tab-heading>
            <div style="padding: 20px">
              <h4 class="media-heading">Instructions</h4>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum
              in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue
              felis in faucibus.
            </div>
            <div html-sortable="sortable_option" ng-model="personalInfo.choice">
              <div ng-repeat="item in personalInfo.choice">

                <p class="handle"> <button class="btn btn-primary" type="button">
   {{item.choice}} <span class="badge">{{personalInfo.choice.indexOf(item)+1}}</span>
</button></p>

              </div>
            </div>

          </uib-tab>
          <uib-tab index="2">
            <uib-tab-heading><i class="fa fa-building-o"></i> Education </uib-tab-heading>
            <div style="padding: 20px">
              <h4 class="media-heading">Instructions</h4>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum
              in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue
              felis in faucibus.
            </div>
            <div style="padding: 20px">
              <table class="table table-condensed">

                <thead class="inverse">
                  <tr>
                    <td>School Name</td>
                    <td>Department</td>
                    <td>Grade</td>
                    <td>Aggregate</td>
                    <td>Exam Authority</td>
                  </tr>
                </thead>
                <tr ng-repeat="academic in personalInfo.academics">
                  <td>
                    <!-- editable username (text with validation) -->
                    <span editable-text="academic.name" e-name="name" e-form="rowform">
          {{ academic.name || 'empty' }}
        </span>
                  </td>
                  <td>
                    <!-- editable status (select-local) -->
                    <span editable-text="academic.dept" e-name="dept" e-form="rowform">
          {{ academic.dept || 'empty' }}
        </span>
                  </td>



                  <td>
                    <!-- editable status (select-local) -->
                    <span editable-text="academic.grade" e-name="grade" e-form="rowform">
          {{ academic.grade || 'empty' }}
        </span>
                  </td>

                  <td>
                    <!-- editable status (select-local) -->
                    <span editable-text="academic.aggregate" e-name="aggregate" e-form="rowform">
          {{ academic.aggregate || 'empty' }}
        </span>
                  </td>
                  <td>
                    <!-- editable status (select-local) -->
                    <span editable-text="academic.examAuth" e-name="examAuth" e-form="rowform">
          {{ academic.examAuth|| 'empty' }}
        </span>
                  </td>
                  <td style="white-space: nowrap">
                    <!-- form -->
                    <form editable-form name="rowform" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == academic">
                      <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
            save
          </button>
                      <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
            cancel
          </button>
                    </form>
                    <div class="buttons" ng-show="!rowform.$visible">
                      <button type="button" class="btn btn-primary" ng-click="rowform.$show()">edit</button>
                      <button type="button" class="btn btn-danger" ng-click="removeAcademic($index)">del</button>
                    </div>
                  </td>
                </tr>
              </table>

              <button type="button" class="btn btn-default" ng-click="addAcademics()">Add Institution</button>
            </div>
          </uib-tab>

          <uib-tab index="3">
            <uib-tab-heading><i class="fa fa-briefcase"></i> Experience </uib-tab-heading>
            <div style="padding: 20px">
              <h4 class="media-heading">Instructions</h4>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum
              in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue
              felis in faucibus.
            </div>
            <div style="padding: 20px">
              <table class="table table-condensed">
                <thead class="thead-inverse">
                  <tr>
                    <td>Organization</td>
                    <td>Nature of Job</td>

                    <td>Start Date</td>
                    <td>End Date</td>

                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="org in personalInfo.orgs">
                    <td>
                      <!-- editable username (text with validation) -->
                      <span editable-text="org.name" e-name="name" e-form="rowform">
          {{ org.name || 'empty' }}
        </span>
                    </td>
                    <td>
                      <!-- editable status (select-local) -->
                      <span editable-text="org.description" e-name="description" e-form="rowform">
          {{ org.description || 'empty' }}
        </span>
                    </td>



                    <td>
                      <!-- editable status (select-local) -->
                      <span editable-date="org.start" e-name="start" e-form="rowform">
          {{ (org.start  | date:"dd/MM/yyyy") || 'empty' }}
        </span>
                    </td>

                    <td>
                      <!-- editable status (select-local) -->
                      <span editable-date="org.end" e-name="end" e-form="rowform">
          {{ (org.end  | date:"dd/MM/yyyy") || 'empty' }}
        </span>
                    </td>

                    <td style="white-space: nowrap">
                      <!-- form -->
                      <form editable-form name="rowform" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == org">
                        <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
            save
          </button>
                        <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
            cancel
          </button>
                      </form>
                      <div class="buttons" ng-show="!rowform.$visible">
                        <button type="button" class="btn btn-primary" ng-click="rowform.$show()">edit</button>
                        <button type="button" class="btn btn-danger" ng-click="removeOrg($index)">del</button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>

              <button type="button" class="btn btn-default" ng-click="addOrg()">Add Job</button>
            </div>
          </uib-tab>
          <uib-tab index="4">
            <uib-tab-heading><i class="fa fa-file"></i> Documents</uib-tab-heading>
            <div style="padding: 20px">
              <h4 class="media-heading">Instructions</h4>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum
              in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue
              felis in faucibus.
            </div>
            <div style="padding: 40px">
              <div class="col-md-6">
                <label>Document Title</label>

                <input type="text" class="form-control" placeholder="Document title" ng-model="title"><br/>
                <button class="btn btn-default" ngf-select="upload($files)" ngf-multiple="true">Select File</button>

              </div>
              <div class="col-md-6">
                <h4> Uploaded Document(s):</h4>
                <div ng-repeat="f in personalInfo.docs">
                  <ul>
                    <li ng-show="f.url" class="list-unstyled">
                      <div class="alert alert-info">{{f.url}}</div>
                    </li>
                  </ul>
                </div>

                Upload Log:
                <pre>{{log}}</pre>
              </div>
            </div>
          </uib-tab>
          <uib-tab index="5">
            <uib-tab-heading><i class="fa fa-certificate"></i> Refferees</uib-tab-heading>
            <div style="padding: 20px">
              <h4 class="media-heading">Instructions</h4>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum
              in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue
              felis in faucibus.
            </div>
            <div style="padding: 20px">
              <table class="table table-condensed">
                <thead class="inverse">
                  <tr>

                    <td>Name</td>
                    <td>Occupation</td>

                    <td>Telephone</td>
                    <td>Email</td>

                  </tr>
                </thead>
                <tr ng-repeat="ref in personalInfo.refs">
                  <td>
                    <!-- editable username (text with validation) -->
                    <span editable-text="ref.name" e-name="name" e-form="rowform">
          {{ ref.name || 'empty' }}
        </span>
                  </td>
                  <td>
                    <!-- editable status (select-local) -->
                    <span editable-text="ref.occupation" e-name="occupation" e-form="rowform">
          {{ ref.occupation || 'empty' }}
        </span>
                  </td>



                  <td>
                    <!-- editable status (select-local) -->
                    <span editable-number="ref.tel" e-name="tel" e-form="rowform">
          {{ ref.tel || 'empty' }}
        </span>
                  </td>

                  <td>
                    <!-- editable status (select-local) -->
                    <span editable-email="ref.email" e-name="email" e-form="rowform">
          {{ ref.email || 'empty' }}
        </span>
                  </td>

                  <td style="white-space: nowrap">
                    <!-- form -->
                    <form editable-form name="rowform" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == ref">
                      <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
            save
          </button>
                      <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
            cancel
          </button>
                    </form>
                    <div class="buttons" ng-show="!rowform.$visible">
                      <button type="button" class="btn btn-primary" ng-click="rowform.$show()">edit</button>
                      <button type="button" class="btn btn-danger" ng-click="removeRef($index)">del</button>
                    </div>
                  </td>
                </tr>
              </table>

              <button type="button" class="btn btn-default" ng-click="addRef()">Add Refferee</button>
            </div>
          </uib-tab>
          <uib-tab index="6">
            <uib-tab-heading><i class="fa fa-check"></i> Submit</uib-tab-heading>
            <div class="col-md-6">
              <div class="page-header">
                <h4>Add Payment and Submit <br> <small>You must pay an Application fee of 5000 Rfw </small></h4>
              </div>
              <p>
                <button class="btn btn-primary" ng-click="addApplication()">Submit Application</button>
              </p>
              <p>
                <button class="btn btn-primary" ng-click="updateApplication()">Update Application</button>
              </p>
              <h4>
                Your ID number is: 30298472 </br>
                Please add this number to your payslip</h4>
              <h3> Data Log</h3>
              <div class="well">{{personalInfo}}</div>
            </div>
          </uib-tab>
        </uib-tabset>

      </div>
    </div>
  </div>


</div>