<div class="container">

  <div class="col-md-8 col-md-offset-2">
    <h2>Student Application Portal</h2>
    <footer>Welcome <strong>{{currentUser.firstname}} {{currentUser.lastname}}</strong>. You can complete your IPRC East New Student
      Application in <span class="fa-stack">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-inverse fa-stack-1x">3</i>
    </span> easy steps.</footer>


    <hr class="my-2">

  <div class="row">
    <div class="col-sm-4">
      <button class="btn btn-block btn-primary" ui-sref="application.applicationForm">    
       
       <h4 class="text-center"><i class="fa fa-list-alt fa-3x" aria-hidden="true"></i> <br>
Complete<br>Application Form</h4>
      
   
   </button>

    </div>
    <div class="col-sm-4">
      <button class="btn btn-block btn-primary" ng-disabled="personalInfo.status < 1" ui-sref="application.uploadDocs">
  
           <h4 class="text-center"><i class="fa fa-files-o fa-3x" aria-hidden="true"></i><br>
Upload Relevant<br> Documents</h4>
    
             
 
  
 </button>

    </div>
    <div class="col-sm-4">
      <button class="btn btn-block btn-primary" ng-disabled="personalInfo.status < 2" ui-sref="application.paySubmit">     
       
       <h4 class="text-center"><i class="fa fa-money fa-3x" aria-hidden="true"></i><br>
Pay Application<br> Fee and Submit</h4>
        
      </button>

    </div>
  </div>
</div>
  </div>