

<div class="container-fluid" style="background-color:#4ca6ff;">
  <dl class="row" style="margin-bottom: 0px;">
  <dt class="col-xs-2"><h3 class="display-4"><a ui-sref="dashboard.adminCourses"> &larr; all</a></h3></dt>
  <dd class="col-xs-10"><h3 class="display-4" style="text-align:right;"> Course Details
       <button type="button" class="btn btn-sm btn-default" ng-click="courseEdit =!courseEdit"><i ng-show="!courseEdit" class="fa fa-pencil"></i><i ng-show="courseEdit" class="fa fa-ban"></i></button>
        <button type="button" class="btn btn-sm btn-default" ng-click="open('delCourse.html','sm',currentCourse._id, currentCourse.title)"><i class="fa fa-trash"></i></button>
  </h3>
</dd>
  </dl>


</div>

<script type="text/ng-template" id="delCourse.html">
  <div class="modal-header">
    <h3 class="modal-title" id="modal-title">Alert!</h3>
  </div>
  <div class="modal-body" id="modal-body">
    <h5> Are you sure you want to delete <strong> {{courseTitle}}</strong>?</h5>


  </div>
  <div class="modal-footer">
    <button class="btn btn-sm btn-danger" type="button" ng-click="removeCourse()">Confirm Delete</button>
    <button class="btn btn-sm btn-info" type="button" ng-click="close()">Cancel</button>

  </div>
</script>

<div class="container-fluid" ng-show="!courseEdit">
    <div class="page-header">
  <h2> <img ng-src="img/{{currentCourse.department}}.png" class="img-square" height="64px">{{currentCourse.title | limitTo: 70}} 
  </h2>
  <ul class="list-group">
  <li class="list-group-item">
    <span class="badge">{{currentCourse.department}}</span>
    Department:
  </li>
    <li class="list-group-item">
    <span class="badge">{{currentCourse.level}}</span>
    Level:
  </li>  <li class="list-group-item">
    <span class="badge">{{currentCourse.length}}</span>
    Hours:
  </li>
  <li class="list-group-item">
    <span class="badge">{{currentCourse.option}}</span>
    Specialization:
  </li>
  <li class="list-group-item"> 
     <div class="form-group">
  <label for="comment">Description:</label>
  <h5>{{currentCourse.description}}</h5></li>
</div>
 
</ul>
</div>
</div>


<div class="container-fluid" ng-show="courseEdit">
    <div class="page-header">
  <h2> <img ng-src="img/{{currentCourse.department}}.png" class="img-square" height="64px">
  <input type="text" ng-model="currentCourse.title">
  </h2>
  <ul class="list-group">
  <li class="list-group-item">
    <span class="icon"><input type="text" ng-model="currentCourse.department"></span>
    Department:
  </li>
    <li class="list-group-item">
    <span class="icon"><input type="text" ng-model="currentCourse.year"></span>
    Level:
  </li>  <li class="list-group-item">
    <span class="icon"><input type="text" ng-model="currentCourse.length"></span>
    Hours:
  </li>
  <li class="list-group-item">
    <span class="icon"><input type="text" ng-model="currentCourse.track"></span>
    Specialization:
  </li>
  <li class="list-group-item"> 
    <div class="form-group">
  <label for="comment">Description:</label>
  <textarea class="form-control" ng-model="currentCourse.description" rows="5" id="comment"></textarea>
</div></li>
</ul>
 <button type="button" class="btn btn-sm btn-primary" ng-click="updateCourse(currentCourse)">Update</button>
</div>
</div>

    