
<div class="container-fluid" style="background-color:#4ca6ff;">
  <dl class="row" ng-hide="toggleSearch" style="margin-bottom: 0px;">
  <dt class="col-xs-8"><h3 class="display-4">Student Dashboard</h3></dt>
  <dd class="col-xs-4"><h3 class="display-4" style="text-align:right;">
  
</dd>
  </dl>
</div>

<div class="container-fluid" style=" padding-top:20px;">
<div class="row">
<div class="col-md-6 col-md-6">
      
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Stats</div>

  <div class="panel-body">
<canvas id="bar" class="chart chart-bar"

  chart-data="data" chart-labels="labels" chart-series="series">

</canvas>

</div>
</div>
</div>

<div class="col-md-6 col-md-6">
      
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Stats</div>
  <div class="panel-body">
<canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-series="series">

</canvas>

</div>
</div>
</div>
</div>

</div>

 

