
<div class="container-fluid" style="background-color:#4ca6ff;">
  <dl class="row" style="margin-bottom: 0px;">
  <dt class="col-xs-2"><h3 class="display-4"><a ui-sref="dashboard.learn"> &larr; Back</a></h3></dt>
  <dd class="col-xs-10"><h3 class="display-4" style="text-align:right;">
{{currentVideo.title | limitTo: 70}} </h3>
</dd>
  </dl>


</div>

<div class="container-fluid" style="padding-top:20px;">
  <div class="row">
    <div class="col-sm-6">
   
  
<div class="embed-responsive embed-responsive-16by9">
    <video id="currentVideo" class="embed-responsive-item" ng-src="{{trustedVideoUrl}}" type="video/mp4" ></video>
  
<div class="btn-group btn-group-justified" role="group">
    <a ng-click="playVideo()" class="btn btn-default">Play</a>
    <a ng-click="pauseVideo()" class="btn btn-default">Pause</a>
    <a ng-click="stopVideo()" class="btn btn-default">Stop</a>
</div>

</div>
    </div>

     <div class="col-sm-6">

<h4><strong>Author: </strong>{{currentVideo.author}}</h4>
{{currentVideo.description}} 
     </div>
  </div>
</div>


 

