<div class="container-fluid" style="background-color:#4ca6ff;">
  <dl class="row" ng-hide="toggleSearch || toggleFilter" style="margin-bottom: 0px;">
    <dt class="col-xs-8">
      <h3 class="display-4">{{currentUser.firstname}}'s Gradebook</h3>
    </dt>
    <dd class="col-xs-4">
      <h3 class="display-4" style="text-align:right;">
      </h3>
    </dd>
  </dl>

</div>
<uib-accordion>
  <div uib-accordion-group class="panel-default" is-open="status.open" ng-repeat="course in courses | filter:search | filter:{department:currentUser.department, option:currentUser.option}">
    
    <uib-accordion-heading>
      <span><i class="fa fa-arrow-right" style="float:right;" ng-class="{'fa fa-arrow-down': status.open, 'fa fa-arrow-right': !status.open}"></i></span>
      <a ui-sref="dashboard.gradeDetail({courseId:course._id})">{{course.title}}</a>
    </uib-accordion-heading>

    <ul class="list-group" ng-repeat="mygrade in mygrades | filter:{studentId:currentUser._id}">
      <li class="list-group-item onlybottom">
        <span class="badge"><h4>{{mygrade.grade}}</h4></span>
        <h4>{{mygrade.assignmentName}}</h4>
      </li>
    </ul>

  </div>
</uib-accordion>
</div>