
<div class="container-fluid" style="background-color:#4ca6ff;">
  <dl class="row" ng-hide="toggleSearch || toggleFilter" style="margin-bottom: 0px;">
  <dt class="col-xs-6"><h3 class="display-4">Timetable View</h3></dt>
  <dd class="col-xs-6"><h3 class="display-4" style="text-align:right;">
      <a ui-sref="dashboard.schedule" type="button" class="btn btn-sm btn-default"><i class="fa fa-list"></i></a>
  <button type="button" ng-click="toggleSearch = !toggleSearch" class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
  <button type="button" class="btn btn-sm btn-default" ng-click="toggleFilter = !toggleFilter"><i class="fa fa-filter"></i></button></h3>
</dd>
  </dl>

<dl class="row" ng-show="toggleSearch" style="margin-bottom: 13px;">
<h3 class="display-4">
  <dd class="col-sm-8 col-sm-offset-2">
   <div class="input-group input-group-sm">
        <input type="text" class="form-control" ng-model="search" placeholder="Search notices">
        <span class="input-group-btn">
        <button class="btn btn-default" ng-click="toggleSearch = !toggleSearch" type="button"><i class="fa fa-times"></i></button>
      </span>
      </div>
</dd></h3>
  </dl>

  <dl class="row" ng-show="toggleFilter" style="margin-bottom: 13px;">
<h3 class="display-4">
  <dd class="col-sm-3 col-sm-offset-2">
   <div class="input-group input-group-sm">
        <span class="input-group-addon">Level</span>
  <select class="form-control" id="sel1">
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
  </select>
  
      </div>
</dd>
 <dd class="col-sm-3">
   <div class="input-group input-group-sm">
        <input type="text" class="form-control" ng-model="search" placeholder="Search notices">
        <span class="input-group-btn">
        <button class="btn btn-default" ng-click="toggleFilter = !toggleFilter" type="button"><i class="fa fa-times"></i></button>
      </span>
      </div>
</dd>
</h3>
  </dl>
</div>

<div>

 <!-- Table -->
 <table class="table table-bordered timetable">

    <thead>
    <tr class="weekdays">
         <th width="10%">Time</th>
      <th width="18%">Monday</th>
      <th width="18%">Tuesday</th>
      <th width="18%">Wednesday</th>
      <th width="18%">Thursday</th>
      <th width="18%">Friday</th>
    </tr>
    </thead>
  <tbody  >
      
     <tr >
        <th>8:00am-8:50am</th>
        <td> <span ng-repeat="m in schedules | filter:search | filter:{timeSlot:{slot:1}, day:'Monday'}">
  <span><a ui-sref="dashboard.courseDetail({courseId:m.id})"><h5 class="display-4">{{m.title}}</h5></a></span>
  <small>{{m.firstname}} {{m.lastname}}</small> <br> <button class="btn btn-xs btn-danger" ng-click="open('delSchedule.html','sm', m._id, m.title)"><i class="fa fa-trash"></i></button>
  <button class="btn btn-xs btn-primary" ng-click="open('editSchedule.html','lg', m._id, m.title)"><i class="fa fa-pencil"></i></button><hr></span></td>

        <td  ng-repeat="m in schedules | filter:search | filter:{timeSlot:{slot:1}, day:'Tuesday'}" ng-class="{'red': m.firstname, 'black': !m.firstname}"> <span><a ui-sref="dashboard.courseDetail({courseId:m.id})"><h5 class="display-4">{{m.title}}</h5></a></span>
  <small>{{m.firstname}} {{m.lastname}}</small> <br> <button class="btn btn-xs btn-danger" ng-click="open('delSchedule.html','sm', m._id, m.title)"><i class="fa fa-trash"></i></button>
  <button class="btn btn-xs btn-primary" ng-click="open('editSchedule.html','lg', m._id, m.title)"><i class="fa fa-pencil"></i></button><hr></td>

         <td ng-repeat="m in schedules | filter:search | filter:{timeSlot:{slot:1}, day:'Wednesday'}">  <span><a ui-sref="dashboard.courseDetail({courseId:m.id})"><h5 class="display-4">{{m.title}}</h5></a></span>
  <small>{{m.firstname}} {{m.lastname}}</small> <br> <button class="btn btn-xs btn-danger" ng-click="open('delSchedule.html','sm', m._id, m.title)"><i class="fa fa-trash"></i></button>
  <button class="btn btn-xs btn-primary" ng-click="open('editSchedule.html','lg', m._id, m.title)"><i class="fa fa-pencil"></i></button><hr></td>
            
            <td> <span ng-repeat="m in schedules | filter:search | filter:{timeSlot:{slot:1}, day: 'Thursday'}">  <span><a ui-sref="dashboard.courseDetail({courseId:m.id})"><h5 class="display-4">{{m.title}}</h5></a></span>
  <small>{{m.firstname}} {{m.lastname}}</small> <br> <button class="btn btn-xs btn-danger" ng-click="open('delSchedule.html','sm', m._id, m.title)"><i class="fa fa-trash"></i></button>
  <button class="btn btn-xs btn-primary" ng-click="open('editSchedule.html','lg', m._id, m.title)"><i class="fa fa-pencil"></i></button><hr></span></td>
               
               <td> <span ng-repeat="m in schedules | filter:search | filter:{timeSlot:{slot:1}, day: 'Friday'}">  <span><a ui-sref="dashboard.courseDetail({courseId:m.id})"><h5 class="display-4">{{m.title}}</h5></a></span>
  <small>{{m.firstname}} {{m.lastname}}</small> <br> <button class="btn btn-xs btn-danger" ng-click="open('delSchedule.html','sm', m._id, m.title)"><i class="fa fa-trash"></i></button>
  <button class="btn btn-xs btn-primary" ng-click="open('editSchedule.html','lg', m._id, m.title, m.instructor)"><i class="fa fa-pencil"></i></button><hr></span></td>
        
    </tr>

     <tr >
        <th>8:50am-9:40am</th>
        <td> <span ng-repeat="m in schedules | filter:search | filter:{timeSlot:{slot:2}, day:'Monday'}">
  <span><a ui-sref="dashboard.courseDetail({courseId:m.id})"><h5 class="display-4">{{m.title}}</h5></a></span>
  <small>{{m.firstname}} {{m.lastname}}</small> <br> <button class="btn btn-xs btn-danger" ng-click="open('delSchedule.html','sm', m._id, m.title)"><i class="fa fa-trash"></i></button>
   <button class="btn btn-xs btn-primary" ng-click="open('editSchedule.html','lg', m._id, m.title, m.instructor)"><i class="fa fa-pencil"></i></button><hr></span></td>

        <td> <span ng-repeat="m in schedules | filter:search | filter:{timeSlot:{slot:2}, day:'Tuesday'}">  <span><a ui-sref="dashboard.courseDetail({courseId:m.id})"><h5 class="display-4">{{m.title}}</h5></a></span>
  <small>{{m.firstname}} {{m.lastname}}</small> <br> <button class="btn btn-xs btn-danger" ng-click="open('delSchedule.html','sm', m._id, m.title)"><i class="fa fa-trash"></i></button>
   <button class="btn btn-xs btn-primary" ng-click="open('editSchedule.html','lg', m._id, m.title, m.instructor)"><i class="fa fa-pencil"></i></button><hr></span></td>

         <td> <span ng-repeat="m in schedules | filter:search | filter:{timeSlot:{slot:2}, day:'Wednesday'}">  <span><a ui-sref="dashboard.courseDetail({courseId:m.id})"><h5 class="display-4">{{m.title}}</h5></a></span>
  <small>{{m.firstname}} {{m.lastname}}</small> <br> <button class="btn btn-xs btn-danger" ng-click="open('delSchedule.html','sm', m._id, m.title)"><i class="fa fa-trash"></i></button>
   <button class="btn btn-xs btn-primary" ng-click="open('editSchedule.html','lg', m._id, m.title, m.instructor)"><i class="fa fa-pencil"></i></button><hr></span></td>

            <td> <span ng-repeat="m in schedules | filter:search | filter:{timeSlot:{slot:2}, day: 'Thursday'}">  <span><a ui-sref="dashboard.courseDetail({courseId:m.id})"><h5 class="display-4">{{m.title}}</h5></a></span>
  <small>{{m.firstname}} {{m.lastname}}</small> <br> <button class="btn btn-xs btn-danger" ng-click="open('delSchedule.html','sm', m._id, m.title)"><i class="fa fa-trash"></i></button>
   <button class="btn btn-xs btn-primary" ng-click="open('editSchedule.html','lg', m._id, m.title, m.instructor)"><i class="fa fa-pencil"></i></button><hr></span></td>

               <td> <span ng-repeat="m in schedules | filter:search | filter:{timeSlot:{slot:2}, day: 'Friday'}">  <span><a ui-sref="dashboard.courseDetail({courseId:m.id})"><h5 class="display-4">{{m.title}}</h5></a></span>
  <small>{{m.firstname}} {{m.lastname}}</small> <br> <button class="btn btn-xs btn-danger" ng-click="open('delSchedule.html','sm', m._id, m.title)"><i class="fa fa-trash"></i></button>
   <button class="btn btn-xs btn-primary" ng-click="open('editSchedule.html','lg', m._id, m.title, m.instructor)"><i class="fa fa-pencil"></i></button><hr></span></td>
        
    </tr>

    <tr >
        <th>9:40am-10:30am</th>
        <td> <span ng-repeat="m in schedules | filter:search | filter:{timeSlot:{slot:3}, day:'Monday'}">
  <span><a ui-sref="dashboard.courseDetail({courseId:m.id})"><h5 class="display-4">{{m.title}}</h5></a></span>
  <small>{{m.firstname}} {{m.lastname}}</small>  <button class="btn btn-xs btn-danger" ng-click="open('delSchedule.html','sm', m._id, m.title)"><i class="fa fa-trash"></i></button></span></td>
        <td> <span ng-repeat="m in schedules | filter:search | filter:{timeSlot:{slot:3}, day:'Tuesday'}">  <span><a ui-sref="dashboard.courseDetail({courseId:m.id})"><h5 class="display-4">{{m.title}}</h5></a></span>
  <small>{{m.firstname}} {{m.lastname}}</small>  <button class="btn btn-xs btn-danger" ng-click="open('delSchedule.html','sm', m._id, m.title)"><i class="fa fa-trash"></i></button></span></td>
         <td> <span ng-repeat="m in schedules | filter:search | filter:{timeSlot:{slot:3}, day:'Wednesday'}">  <span><a ui-sref="dashboard.courseDetail({courseId:m.id})"><h5 class="display-4">{{m.title}}</h5></a></span>
  <small>{{m.firstname}} {{m.lastname}}</small>  <button class="btn btn-xs btn-danger" ng-click="open('delSchedule.html','sm', m._id, m.title)"><i class="fa fa-trash"></i></button></span></td>
            <td> <span ng-repeat="m in schedules | filter:search | filter:{timeSlot:{slot:3}, day: 'Thursday'}">  <span><a ui-sref="dashboard.courseDetail({courseId:m.id})"><h5 class="display-4">{{m.title}}</h5></a></span>
  <small>{{m.firstname}} {{m.lastname}}</small>  <button class="btn btn-xs btn-danger" ng-click="open('delSchedule.html','sm', m._id, m.title)"><i class="fa fa-trash"></i></button></span></td>
               <td> <span ng-repeat="m in schedules | filter:search | filter:{timeSlot:{slot:3}, day: 'Friday'}">  <span><a ui-sref="dashboard.courseDetail({courseId:m.id})"><h5 class="display-4">{{m.title}}</h5></a></span>
  <small>{{m.firstname}} {{m.lastname}}</small>  <button class="btn btn-xs btn-danger" ng-click="open('delSchedule.html','sm', m._id, m.title)"><i class="fa fa-trash"></i></button></span></td>
        
    </tr>
 <tr >
        <th>10:30am-10:50am</th><td>BREAK</td><td>BREAK</td><td>BREAK</td><td>BREAK</td><td>BREAK</td></tr>
    <tr >
        <th>10:50am-11:40am</th>
        <td> <span ng-repeat="m in schedules | filter:search | filter:{timeSlot:{slot:4}, day:'Monday'}">
  <span><a ui-sref="dashboard.courseDetail({courseId:m.id})"><h5 class="display-4">{{m.title}}</h5></a></span>
  <small>{{m.firstname}} {{m.lastname}}</small>  <button class="btn btn-xs btn-danger" ng-click="open('delSchedule.html','sm', m._id, m.title)"><i class="fa fa-trash"></i></button></span></td>
        <td> <span ng-repeat="m in schedules | filter:search | filter:{timeSlot:{slot:4}, day:'Tuesday'}">  <span><a ui-sref="dashboard.courseDetail({courseId:m.id})"><h5 class="display-4">{{m.title}}</h5></a></span>
  <small>{{m.firstname}} {{m.lastname}}</small>  <button class="btn btn-xs btn-danger" ng-click="open('delSchedule.html','sm', m._id, m.title)"><i class="fa fa-trash"></i></button></span></td>
         <td> <span ng-repeat="m in schedules | filter:search | filter:{timeSlot:{slot:4}, day:'Wednesday'}">  <span><a ui-sref="dashboard.courseDetail({courseId:m.id})"><h5 class="display-4">{{m.title}}</h5></a></span>
  <small>{{m.firstname}} {{m.lastname}}</small>  <button class="btn btn-xs btn-danger" ng-click="open('delSchedule.html','sm', m._id, m.title)"><i class="fa fa-trash"></i></button></span></td>
            <td> <span ng-repeat="m in schedules | filter:search | filter:{timeSlot:{slot:4}, day: 'Thursday'}">  <span><a ui-sref="dashboard.courseDetail({courseId:m.id})"><h5 class="display-4">{{m.title}}</h5></a></span>
  <small>{{m.firstname}} {{m.lastname}}</small>  <button class="btn btn-xs btn-danger" ng-click="open('delSchedule.html','sm', m._id, m.title)"><i class="fa fa-trash"></i></button></span></td>
               <td> <span ng-repeat="m in schedules | filter:search | filter:{timeSlot:{slot:4}, day: 'Friday'}">  <span><a ui-sref="dashboard.courseDetail({courseId:m.id})"><h5 class="display-4">{{m.title}}</h5></a></span>
  <small>{{m.firstname}} {{m.lastname}}</small>  <button class="btn btn-xs btn-danger" ng-click="open('delSchedule.html','sm', m._id, m.title)"><i class="fa fa-trash"></i></button></span></td>
        
    </tr>

     <tr >
        <th>11:40am-12:30</th>
        <td> <span ng-repeat="m in schedules | filter:search | filter:{timeSlot:{slot:5}, day:'Monday'}">
  <span><a ui-sref="dashboard.courseDetail({courseId:m.id})"><h5 class="display-4">{{m.title}}</h5></a></span>
  <small>{{m.firstname}} {{m.lastname}}</small>  <button class="btn btn-xs btn-danger" ng-click="open('delSchedule.html','sm', m._id, m.title)"><i class="fa fa-trash"></i></button></span></td>
        <td> <span ng-repeat="m in schedules | filter:search | filter:{timeSlot:{slot:5}, day:'Tuesday'}">  <span><a ui-sref="dashboard.courseDetail({courseId:m.id})"><h5 class="display-4">{{m.title}}</h5></a></span>
  <small>{{m.firstname}} {{m.lastname}}</small>  <button class="btn btn-xs btn-danger" ng-click="open('delSchedule.html','sm', m._id, m.title)"><i class="fa fa-trash"></i></button></span></td>
         <td> <span ng-repeat="m in schedules | filter:search | filter:{timeSlot:{slot:5}, day:'Wednesday'}">  <span><a ui-sref="dashboard.courseDetail({courseId:m.id})"><h5 class="display-4">{{m.title}}</h5></a></span>
  <small>{{m.firstname}} {{m.lastname}}</small>  <button class="btn btn-xs btn-danger" ng-click="open('delSchedule.html','sm', m._id, m.title)"><i class="fa fa-trash"></i></button></span></td>
            <td> <span ng-repeat="m in schedules | filter:search | filter:{timeSlot:{slot:5}, day: 'Thursday'}">  <span><a ui-sref="dashboard.courseDetail({courseId:m.id})"><h5 class="display-4">{{m.title}}</h5></a></span>
  <small>{{m.firstname}} {{m.lastname}}</small>  <button class="btn btn-xs btn-danger" ng-click="open('delSchedule.html','sm', m._id, m.title)"><i class="fa fa-trash"></i></button></span></td>
               <td> <span ng-repeat="m in schedules | filter:search | filter:{timeSlot:{slot:5}, day: 'Friday'}">  <span><a ui-sref="dashboard.courseDetail({courseId:m.id})"><h5 class="display-4">{{m.title}}</h5></a></span>
  <small>{{m.firstname}} {{m.lastname}}</small>  <button class="btn btn-xs btn-danger" ng-click="open('delSchedule.html','sm', m._id, m.title)"><i class="fa fa-trash"></i></button></span></td>
        
    </tr>
     <tr >
        <th>12:30pm-2:00pm</th><td>LUNCH</td><td>LUNCH</td><td>LUNCH</td><td>LUNCH</td><td>LUNCH</td></tr>
     <tr >

       <tr >
        <th>02:00pm-02:50pm</th>
        <td> <span ng-repeat="m in schedules | filter:search | filter:{timeSlot:{slot:6}, day:'Monday'}">
  <span><a ui-sref="dashboard.courseDetail({courseId:m.id})"><h5 class="display-4">{{m.title}}</h5></a></span>
  <small>{{m.firstname}} {{m.lastname}}</small>  <button class="btn btn-xs btn-danger" ng-click="open('delSchedule.html','sm', m._id, m.title)"><i class="fa fa-trash"></i></button></span></td>
        <td> <span ng-repeat="m in schedules | filter:search | filter:{timeSlot:{slot:6}, day:'Tuesday'}">  <span><a ui-sref="dashboard.courseDetail({courseId:m.id})"><h5 class="display-4">{{m.title}}</h5></a></span>
  <small>{{m.firstname}} {{m.lastname}}</small>  <button class="btn btn-xs btn-danger" ng-click="open('delSchedule.html','sm', m._id, m.title)"><i class="fa fa-trash"></i></button></span></td>
         <td> <span ng-repeat="m in schedules | filter:search | filter:{timeSlot:{slot:6}, day:'Wednesday'}">  <span><a ui-sref="dashboard.courseDetail({courseId:m.id})"><h5 class="display-4">{{m.title}}</h5></a></span>
  <small>{{m.firstname}} {{m.lastname}}</small>  <button class="btn btn-xs btn-danger" ng-click="open('delSchedule.html','sm', m._id, m.title)"><i class="fa fa-trash"></i></button></span></td>
            <td> <span ng-repeat="m in schedules | filter:search | filter:{timeSlot:{slot:6}, day: 'Thursday'}">  <span><a ui-sref="dashboard.courseDetail({courseId:m.id})"><h5 class="display-4">{{m.title}}</h5></a></span>
  <small>{{m.firstname}} {{m.lastname}}</small>  <button class="btn btn-xs btn-danger" ng-click="open('delSchedule.html','sm', m._id, m.title)"><i class="fa fa-trash"></i></button></span></td>
               <td> <span ng-repeat="m in schedules | filter:search | filter:{timeSlot:{slot:6}, day: 'Friday'}">  <span><a ui-sref="dashboard.courseDetail({courseId:m.id})"><h5 class="display-4">{{m.title}}</h5></a></span>
  <small>{{m.firstname}} {{m.lastname}}</small>  <button class="btn btn-xs btn-danger" ng-click="open('delSchedule.html','sm', m._id, m.title)"><i class="fa fa-trash"></i></button></span></td>
        
    </tr>
         <tr >
        <th>02:50pm-03:40pm</th>
        <td> <span ng-repeat="m in schedules | filter:search | filter:{timeSlot:{slot:7}, day:'Monday'}">
  <span><a ui-sref="dashboard.courseDetail({courseId:m.id})"><h5 class="display-4">{{m.title}}</h5></a></span>
  <small>{{m.firstname}} {{m.lastname}}</small>  <button class="btn btn-xs btn-danger" ng-click="open('delSchedule.html','sm', m._id, m.title)"><i class="fa fa-trash"></i></button></span></td>
        <td> <span ng-repeat="m in schedules | filter:search | filter:{timeSlot:{slot:7}, day:'Tuesday'}">  <span><a ui-sref="dashboard.courseDetail({courseId:m.id})"><h5 class="display-4">{{m.title}}</h5></a></span>
  <small>{{m.firstname}} {{m.lastname}}</small>  <button class="btn btn-xs btn-danger" ng-click="open('delSchedule.html','sm', m._id, m.title)"><i class="fa fa-trash"></i></button></span></td>
         <td> <span ng-repeat="m in schedules | filter:search | filter:{timeSlot:{slot:7}, day:'Wednesday'}">  <span><a ui-sref="dashboard.courseDetail({courseId:m.id})"><h5 class="display-4">{{m.title}}</h5></a></span>
  <small>{{m.firstname}} {{m.lastname}}</small>  <button class="btn btn-xs btn-danger" ng-click="open('delSchedule.html','sm', m._id, m.title)"><i class="fa fa-trash"></i></button></span></td>
            <td> <span ng-repeat="m in schedules | filter:search | filter:{timeSlot:{slot:7}, day: 'Thursday'}">  <span><a ui-sref="dashboard.courseDetail({courseId:m.id})"><h5 class="display-4">{{m.title}}</h5></a></span>
  <small>{{m.firstname}} {{m.lastname}}</small>  <button class="btn btn-xs btn-danger" ng-click="open('delSchedule.html','sm', m._id, m.title)"><i class="fa fa-trash"></i></button></span></td>
               <td> <span ng-repeat="m in schedules | filter:search | filter:{timeSlot:{slot:7}, day: 'Friday'}">  <span><a ui-sref="dashboard.courseDetail({courseId:m.id})"><h5 class="display-4">{{m.title}}</h5></a></span>
  <small>{{m.firstname}} {{m.lastname}}</small>  <button class="btn btn-xs btn-danger" ng-click="open('delSchedule.html','sm', m._id, m.title)"><i class="fa fa-trash"></i></button></span></td>
        
    </tr>

     <tr >
        <th>03:40pm-04:30pm</th>
        <td> <span ng-repeat="m in schedules | filter:search | filter:{timeSlot:{slot:8}, day:'Monday'}">
  <span><a ui-sref="dashboard.courseDetail({courseId:m.id})"><h5 class="display-4">{{m.title}}</h5></a></span>
  <small>{{m.firstname}} {{m.lastname}}</small>  <button class="btn btn-xs btn-danger" ng-click="open('delSchedule.html','sm', m._id, m.title)"><i class="fa fa-trash"></i></button></span></td>
        <td> <span ng-repeat="m in schedules | filter:search | filter:{timeSlot:{slot:8}, day:'Tuesday'}">  <span><a ui-sref="dashboard.courseDetail({courseId:m.id})"><h5 class="display-4">{{m.title}}</h5></a></span>
  <small>{{m.firstname}} {{m.lastname}}</small>  <button class="btn btn-xs btn-danger" ng-click="open('delSchedule.html','sm', m._id, m.title)"><i class="fa fa-trash"></i></button></span></td>
         <td> <span ng-repeat="m in schedules | filter:search | filter:{timeSlot:{slot:8}, day:'Wednesday'}">  <span><a ui-sref="dashboard.courseDetail({courseId:m.id})"><h5 class="display-4">{{m.title}}</h5></a></span>
  <small>{{m.firstname}} {{m.lastname}}</small>  <button class="btn btn-xs btn-danger" ng-click="open('delSchedule.html','sm', m._id, m.title)"><i class="fa fa-trash"></i></button></span></td>
            <td> <span ng-repeat="m in schedules | filter:search | filter:{timeSlot:{slot:8}, day: 'Thursday'}">  <span><a ui-sref="dashboard.courseDetail({courseId:m.id})"><h5 class="display-4">{{m.title}}</h5></a></span>
  <small>{{m.firstname}} {{m.lastname}}</small>  <button class="btn btn-xs btn-danger" ng-click="open('delSchedule.html','sm', m._id, m.title)"><i class="fa fa-trash"></i></button></span></td>
               <td> <span ng-repeat="m in schedules | filter:search | filter:{timeSlot:{slot:8}, day: 'Friday'}">  <span><a ui-sref="dashboard.courseDetail({courseId:m.id})"><h5 class="display-4">{{m.title}}</h5></a></span>
  <small>{{m.firstname}} {{m.lastname}}</small>  <button class="btn btn-xs btn-danger" ng-click="open('delSchedule.html','sm', m._id, m.title)"><i class="fa fa-trash"></i></button></span></td>
        
    </tr>
   
    
    </tbody>
  </table>


<script type="text/ng-template" id="delSchedule.html">
  <div class="modal-header">
    <h3 class="modal-title" id="modal-title">Alert!</h3>
  </div>
  <div class="modal-body" id="modal-body">
    <h5> Are you sure you want to delete <strong> {{scheduleTitle}}</strong>?</h5>


  </div>
  <div class="modal-footer">
    <button class="btn btn-sm btn-danger" type="button" ng-click="removeSchedule()">Confirm Delete</button>
    <button class="btn btn-sm btn-info" type="button" ng-click="close()">Cancel</button>

  </div>
</script>

<script type="text/ng-template" id="editSchedule.html">
  <div class="modal-header">
    <h3 class="modal-title" id="modal-title">Edit Course Schedule</h3>
  </div>
  <div class="modal-body" id="modal-body">
    <form name="form">

      <div class="form-group">
      
        <label for="scheduleTitle">Scheduling Course:</label>
        <span>{{scheduleCourseTitle}}</span>
        </div>
    <span ng-bind-html="schedule.label | uibTypeaheadHighlight:query"></span>
      <div class="form-group">
        <label for="scheduleDescription">Instructor</label>
      
       <div ng-if="message" class="alert alert-warning">
  <strong>Warning!</strong> {{message}}
</div>
         <input type="text" ng-model="scheduled.instructor" placeholder="{{scheduled.lastname | uppercase}}, {{scheduled.firstname}}" uib-typeahead="instructor as instructor.lastname + ', ' + instructor.firstname for instructor in instructors | filter: {username: $viewValue} | limitTo:10"
          typeahead-loading="loadingUsers" typeahead-no-results="noResults" class="form-control">
      </div>

<div class="row">
	  <div class="form-group col-xs-5">
        <label for="scheduleDay">Day of Week</label>
		<select class="form-control" ng-model="scheduled.day" id="scheduleDay">

  <option>Monday</option>
  <option>Tuesday</option>
  <option>Wednesday</option>
  <option>Thursday</option>
  <option>Friday</option>
</select>
        </div>
		<div class="form-group col-xs-5">
        <label for="scheduleTime">Time Slot</label>
	 <select class="form-control" ng-model="scheduled.timeSlot" id="scheduleTime" ng-options="time as time.time for time in timeSlots" >
<option value="" disabled selected>Current({{scheduled.timeSlot.time}})</option>
</select>
        </div>
</div>
	
  </div>
  <div class="modal-footer">
    <button type="submit" ng-click="updateSchedule(scheduled)" class="btn btn-sm btn-primary">Update</button>
    <button class="btn btn-sm btn-info" type="button" ng-click="close()">Cancel</button>

  </div>
  </form>

</script>

