<div class="container-fluid" style="background-color:#4ca6ff;">
  <dl class="row" ng-hide="toggleSearch || toggleFilter" style="margin-bottom: 0px;">
    <dt class="col-xs-8">
      <h3 class="display-4">Create Schedule</h3>
    </dt>
    <dd class="col-xs-4">
      <h3 class="display-4" style="text-align:right;">
        <a ui-sref="dashboard.adminTimetable" type="button" class="btn btn-sm btn-default"><i class="fa fa-th"></i></a>
        <button type="button" ng-click="toggleSearch = !toggleSearch" class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
        <button type="button" class="btn btn-sm btn-default" ng-click="toggleFilter = !toggleFilter"><i class="fa fa-filter"></i></button></h3>
    </dd>
  </dl>

  <dl class="row" ng-show="toggleSearch" style="margin-bottom: 13px;">
    <h3 class="display-4">
      <dd class="col-sm-8 col-sm-offset-2">
        <div class="input-group input-group-sm">
          <input type="text" class="form-control" ng-model="search" placeholder="Search notices">
          <span class="input-group-btn">
        <button class="btn btn-default" ng-click="toggleSearch = !toggleSearch" type="button"><i class="fa fa-times"></i></button>
      </span>
        </div>
      </dd>
    </h3>
  </dl>

  <dl class="row" ng-show="toggleFilter" style="margin-bottom: 13px;">
    <h3 class="display-4">
      <dd class="col-sm-3 col-sm-offset-2">
        <div class="input-group input-group-sm">
          <span class="input-group-addon">Year</span>
          <select class="form-control" id="sel1">
    <option value=1>8.00AM - 8.50 AM</option>
    <option value=2> 8:50 AM - 9:40 AM</option>
    <option value=3>9:40 AM - 10:30 AM</option>
    <option value=4>10:50 AM - 11:40 AM</option>
    <option value=5>11:40PM - 12:30PM </option>
    <option value=7>2:00PM - 2:50PM</option>
    <option value=8>2:50 PM - 3:40 PM</option>
      <option value=6>3:40 PM -4:30PM</option>
  </select>




        </div>
      </dd>
      <dd class="col-sm-3">
        <div class="input-group input-group-sm">
          <input type="text" class="form-control" ng-model="search" placeholder="Search notices">
          <span class="input-group-btn">
        <button class="btn btn-default" ng-click="toggleFilter = !toggleFilter" type="button"><i class="fa fa-times"></i></button>
      </span>
        </div>
      </dd>
    </h3>
  </dl>
</div>

<div>

  <!-- Table -->
 <table class="table table-bordered">

    <thead>
    <tr class="weekdays">
         <th class="weekdays" width="10%"><em class="fa fa-cog"></em></th>
      <th width="90%">COURSES</th>
   
    </tr>
    </thead>
  <tbody  >
      
     <tr ng-repeat="course in courses | filter:search ">
       
         <td >  <h4 class="text-center">
      <button type="button" class="btn btn-primary" ng-click="open('addSchedule.html','lg',nullId , course.title, course._id)"><i class="fa fa-calendar fa-lg"></i></button></h4>
        </td>
        <td>   
          
          <div class="media">
  
    <div class="media-body">
      <h4 class="media-heading"> <a ui-sref="dashboard.courseDetail({courseId:course._id})">{{course.title}}</a><br>
      <small>{{course.description | limitTo:200}}...</small></h4>
                      
              

      <ul class="list-group"  ng-repeat="s in schedules | filter:{id:course._id}">
           <li class="list-group-item onlybottom" style="width:500px;">
              <span>{{s.day || 'No Schedule'}} | {{s.timeSlot.time}} | {{s.lastname | uppercase}}, {{s.firstname}} </span>

            </li>
      </ul>

     
    </span>
    </div>
  </div>
        </td>
         
    </tr>
     
    
    </tbody>
  </table>
 
 

</div>





<script type="text/ng-template" id="customTemplate.html">
  <a>
      <span ng-bind-html="$sce.getTrustedHtml(match.label) | uibTypeaheadHighlight:query"></span>
          </a>
          </script>

          <script type="text/ng-template" id="addSchedule.html">
            <div class="modal-header">
              <h3 class="modal-title" id="modal-title">Schedule Course</h3>
            </div>
            <div class="modal-body" id="modal-body">
              <form name="form">

                <div class="form-group">
                  <label for="scheduleTitle">Scheduling Course:</label>
                  <span>{{scheduleCourseTitle}}</span>
                </div>
              
                <span ng-bind-html="schedule.label | uibTypeaheadHighlight:query"></span>
                <div class="form-group">
                  <label for="scheduleDescription">Instructor</label>


                  <div ng-if="message" class="alert alert-warning">
                    <strong>Warning!</strong> {{message}}
                  </div>
                  <input type="text" ng-model="schedule.instructor" placeholder="Lecturer" uib-typeahead="instructor as instructor.lastname + ', ' + instructor.firstname for instructor in instructors | filter: {username: $viewValue} | limitTo:10"
                    typeahead-loading="loadingUsers" typeahead-no-results="noResults" class="form-control">
                </div>

                <div class="row">
                  <div class="form-group col-xs-6">
                    <label for="scheduleDay">Day of Week</label>
                    <select class="form-control" ng-model="schedule.day" id="scheduleDay">

  <option>Monday</option>
  <option>Tuesday</option>
  <option>Wednesday</option>
  <option>Thursday</option>
  <option>Friday</option>
</select>
                  </div>

                  <div class="form-group col-xs-6">
                    <label for="scheduleTrack">Time Slot</label>
                     <select class="form-control" ng-model="schedule.timeSlot" id="scheduleTime" ng-options="time as time.time for time in timeSlots" >
</select>
                  </div>
</div>
                  	<div class="form-group">
        <label for="courseLength">Semester</label>
		<label class="radio-inline">
  <input type="radio" name="inlineRadioOptions"  ng-model="schedule.semester" id="inlineRadio1" value="1"> One
</label>
<label class="radio-inline">
  <input type="radio" name="inlineRadioOptions"  ng-model="schedule.semester" id="inlineRadio2" value="2"> Two
</label>
        
        </div>
                

            </div>
            <div class="modal-footer">
              <button type="submit" ng-click="submit(schedule)" class="btn btn-sm btn-primary">Add</button>
              <button class="btn btn-sm btn-info" type="button" ng-click="close()">Cancel</button>

            </div>
            </form>

          </script>

          <script type="text/ng-template" id="delSchedule.html">
            <div class="modal-header">
              <h3 class="modal-title" id="modal-title">Alert!</h3>
            </div>
            <div class="modal-body" id="modal-body">
              <h5> Are you sure you want to delete <strong> {{scheduleTitle}}</strong>?</h5>


            </div>
            <div class="modal-footer">
              <button class="btn btn-sm btn-danger" type="button" ng-click="removeSchedule()">Confirm Delete</button>
              <button class="btn btn-sm btn-info" type="button" ng-click="close()">Cancel</button>

            </div>
          </script>