/*!
 * Custom styling based on Bootstrap 
 */

body {
    background-color: white;
}

.navbar {
    background-color:#00b300;
}


.application-panel{
    padding-top: 20px;
}

.side-img{
    width: 50%;
}

.badge {
    background-color:#ff64b5;
}

.special-img 
{
    position: relative;
    width: 10%; 
}

.myfix{
    position: fixed;
    z-index: 1;
    width: 100%;
    margin: none;
    border: none;
}

.logout {
    float: right;
}

.increase-popover-width{
   max-width: 500px;
  
}


 .timetable th
    {
        margin: 0;
        text-align: center;
        border-collapse: collapse;
        outline: 1px solid #e3e3e3;
    }

    .timetable td {
         text-align: center;
    }



   .timetable th
    {
        background: black;
        color: white;
        padding: 1px 1px;
        font-size: 1em;
    }


.logo-img 
{
    position:fixed;
    width: 10%;
    height: auto;
    left: 2%;
    top: 2%;
    right: -88%;
    border-radius: 50%;
  border:2px solid grey;
 
}


#wrapper {
    width: 100%;
    
}

.panel-body{
    border: 0px;
    padding-right: 0px;
    padding-left: 0px;
}

.panel-body form, p{
    border: 0px;
   padding: 20px;
}

.nav-tabs {
    margin-right: 0px;
    margin-left: 0px;
}

.top {
    margin-right: 0px;
    margin-left: 0px;
}

.nav-tabs li {
    margin-bottom: 0;
    width: 50%;
    text-align: center;
}

.nav-tabs li more {
    margin-bottom: 0;
    text-align: center;
}

.sidetabs {
    margin-right: 10px;
    margin-left: 10px;
    
 }

.sidetabs > li > a {
  font-size: 1em;
    padding-top: 4px; 
    padding-bottom: 4px;
  
  
}
.sidetabs > li > a:hover {
  border-color: #e6e6e6 #e6e6e6 #dddddd;
}

.sidetabs > li.active > a,
.sidetabs > li.active > a:hover,
.sidetabs > li.active > a:focus {
  color: #fee33a;
  background-color:#00b300;
  cursor: default;
 
}

.accordion{
    padding: none;
    margin: none;
}

.widebutton{
    width: 100%;
}

.menu li,
.menu li > a {
    margin-bottom: 0;
    width: 100%;
      border: 0px;
      color: #696969;
    text-align: left;
 

}

.sideMenu{
    background-color: gray;
}

.thumb {
    width: 150px;
    height: 150px;
    float: none;
    position: relative;
    top: 0px;
}

.page-wrapper {
   padding: none;
    margin-top: 45px;
    left: auto;
  
    background-color: white;
}

.videogular-container {
	width: 100%;
	height: 320px;
	
}
 

@media (min-width: 768px)  {
	.videogular-container {
		width: 100%;
		height: 400px;
	}
}

 


@media(min-width:768px) {
    .page-wrapper {
        position: inherit;
        top:auto;
        left: auto;  
   
    }
    
}

.navbar-top-links {
    margin-right: 0;
}

.label-color{
    background-color: #fee33a;
    color: 	#00b300;
}

.navbar-top-links li {
    display: inline-block;
    
}

.dropdown a {
    
    color:#fee33a;
}

.navbar-top-links li:last-child {
    margin-right: 5px;
}

.navbar-top-links li a {
    padding: 15px;
    min-height: 50px;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
 
}

.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0px;
    background-color: lightgray;
    overflow-x: hidden;

    padding: 45px 0px 0px 0px;
}

.sidenavApp {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0px;
    background-color: lightgray;
    overflow-x: hidden;

    padding: 45px 0px 0px 0px;
}

.openbtn{
    float: left;
    color: #fee33a;
    margin-left: 15px;
    font-size:25px;
      padding-top: 7px;
    cursor:pointer;
}

.closebtn{
    float: left;
    margin-left: 15px;
    font-size:25px;
    padding-top: 7px;
    cursor:pointer;
    color:#fee33a;
}

#main {
    transition: margin-left .1s;
  
}

.icon-background {
    background-color: #00b300;
    color: white;
    margin: 5px;
    padding: 5px;
}

.jumbotron {
    position: static;
    z-index: -1;
    background: lightgray;
    width: 100%;
    height: 500px;
    background-size: contain;
    overflow: hidden;
    padding: 30px;
    color: white;
    margin: none;
}

.icon-style {
    color:#fee33a; 
}

.menu-text{
    margin-left: 20px;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 1px;}
  .sidenav a {font-size: 18px;}
}

@media(min-width:768px) {
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 60;
    left: 0;
        background-color: lightgray;
    overflow-x: hidden;
   
    padding-top: 60px;
     border-right-style: solid;
      border-right-color: black;
      border-right-width: .5px;
}

.sidenavApp {
    visibility: hidden;
    margin: 0px;
    width: 0px;
}

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
        
     
    
    }
}

.btn-outline {
    color: inherit;
    background-color: transparent;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #0a6019;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

.chat {
    margin: 0;
    padding: 0;
    list-style: none;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #999;
}

.chat li.left .chat-body {
    margin-left: 60px;
}

.chat li.right .chat-body {
    margin-right: 60px;
}

.chat li .chat-body p {
    margin: 0;
}

.panel .slidedown .glyphicon,
.chat .glyphicon {
    margin-right: 5px;
}

.chat-panel .panel-body {
    height: 350px;
    overflow-y: scroll;
}

.login-panel {
    margin-top: 10%;
}

.green {
    color:green;
}

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

.dataTables_wrapper {
    position: relative;
    clear: both;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    background: 0 0;
}

table.dataTable thead .sorting_asc:after {
    content: "\f0de";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting_desc:after {
    content: "\f0dd";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting:after {
    content: "\f0dc";
    float: right;
    font-family: fontawesome;
    color: rgba(50,50,50,.5);
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.show-grid [class^=col-] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
    background-color: #eee!important;
}

.show-grid {
    margin: 15px 0;
}

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow a {
    color: #f0ad4e;
}

.panel-yellow a:hover {
    color: #df8a13;
}

.list {
    list-style: none outside none;
    margin: 10px 0 30px;
}

.apps-container {
  border: 2px dashed #00b300;
  margin: 10px 10px 0 0;
  padding: 5px;
}

.app {
    width: 170px;
    padding: 5px 10px;
    margin: 5px 0;
    border: 2px solid #444;
    border-radius: 5px;
    background-color: #EA8A8A;

    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
    cursor: move;
}


/***  Extra ***/



.logList {
    margin-top: 20px;
    width: 300px;
    min-height: 300px;
    padding: 5px 15px;
    border: 5px solid #000;
    border-radius: 15px;
}

.logItem {
  margin-bottom: 10px;
}

.logList:before {
    content: 'log';
    padding: 0 5px;
    position: relative;
    top: -1.1em;
    background-color: #FFF;
}




.floatleft {
  float: left;
}

.floatright {
  float: right;
}

.clear {
  clear: both;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.fa-stack {
    color: light#00b300;
}

.greencolor {
    color: yellow;
}

.navbar-fixed {
  position: fixed;
  top:53px;
  width: 100%;
  color: white;
  height: 30px;
  z-index: -1;
  text-align: left;
  padding: 5px;
  background-color: gray;
}
@media (min-width: 768px) {
  .navbar-fixed {
    border-radius: 0;
    z-index: 1;

    

    
  }
}


ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

/* Month header */
.month {
    padding: 30px 25px;
    width: 100%;
    background: #3498db;
}

/* Month list */
.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
    float: left;
    padding-top: 10px;
}

/* Next button */
.month .next {
    float: right;
    padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
    margin: 0;
    text-align: center;
    padding: 10px 0;
    background-color:#ddd;
}

.weekdays li {
    display: inline-block;
    width: 70%;
    color: #666;
    text-align: center;
    border-right: 1px solid black;
}

.weekdays .time {
  
    width: 20%;
      
  
}

.selected{
    background-color: lightgrey;
  
}

.onlybottom {
    border-top: none;
    border-right: none;
    border-left: none;
}

/* Days (1-31) */
.days {
    padding: 5px 0;
    background: white;
    margin: 0;
    
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 70%;
    text-align: center;
    vertical-align: top;
    margin-bottom: 5px;
    font-size:12px;
    color:#777;  
}

.days .time {
   
    width: 20%;
    color: white;  
    background:black;
     
}

/* Highlight the "current" day */
.days li .active {
    padding: 5px;
    background: #3498db;
    color: white !important
}

.panel-table .panel-body{
  padding:0;
}

.panel-table .panel-body .table-bordered{
  border-style: none;
  margin:0;
}

.panel-table .panel-body .table-bordered > thead > tr > th:first-of-type {
    text-align:center;
    width: 100px;
}

.panel-table .panel-body .table-bordered > thead > tr > th:last-of-type,
.panel-table .panel-body .table-bordered > tbody > tr > td:last-of-type {
  border-right: 0px;
}

.panel-table .panel-body .table-bordered > thead > tr > th:first-of-type,
.panel-table .panel-body .table-bordered > tbody > tr > td:first-of-type {
  border-left: 0px;
}

.panel-table .panel-body .table-bordered > tbody > tr:first-of-type > td{
  border-bottom: 0px;
}

.panel-table .panel-body .table-bordered > thead > tr:first-of-type > th{
  border-top: 0px;
}

.panel-table .panel-footer .pagination{
  margin:0; 
}

/*
used to vertically center elements, may need modification if you're not using default sizes.
*/
.panel-table .panel-footer .col{
 line-height: 34px;
 height: 34px;
}

.panel-table .panel-heading .col h3{
 line-height: 30px;
 height: 30px;
}

.panel-table .panel-body .table-bordered > tbody > tr > td{
  line-height: 34px;
}

.red {
    background-color:lightgray;
}

.black {
    background-color: black;
}

